
header {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    color: rgb(255, 255, 255);
    font-family: 'Lobster', cursive;
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

body {
    background-color: rgb(37, 36, 36);
}

a.has-border {
    border-radius: 4px;
    background-color: #b6010138;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    justify-content: space-between;
    margin: 15px;



    
}









.box {
    display: flex;
    width: 900px;
    height: 2500px;
    background-color: #cdf2ff72;
    margin: 20px auto;
    border: solid #1eff00;
    border-radius: 100px;
}



/* img.logo { 
    display: flex;
    width: 720px;
    height: 480px;
    flex-direction: row;
    align-content: space-around;
    flex-wrap: wrap;
    align-items: baseline;
} */


.banner {
    height: 600px;
    overflow: hidden;
    /* display: flex; */
    background-attachment: fixed;
    background-position: center;
    background-image: url(https://images.unsplash.com/photo-1589381855733-01bb5380dedf?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
    align-items: t;
    justify-content: center;
}

.banner img {
    width: 100%;
    display: flex;
    align-content: baseline;


}

#text {
    font-size:xx-large;
}


h1 title {
    color: rgb(255, 255, 255);
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: xx-large;
    

}

a:hover {
    background-color: #080101;
    color: rgb(37, 36, 36)
}

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


.joe {
    width: 500px;
    height: 700px;
    /* display: flex; */
    /* flex-direction: column; */
}

/*img.joe {/**
    /* display: flex; */
    /* flex-direction: column; */

nav {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}